<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.thinkos.__TASK_ID__</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__REPO_ROOT__/scripts/thinkos-cron-run.sh</string>
    <string>__TASK_ID__</string>
  </array>

  <key>StartCalendarInterval</key>
  __SCHEDULE_BLOCK__

  <key>RunAtLoad</key>
  <false/>

  <key>StandardOutPath</key>
  <string>__LOG_DIR__/__TASK_ID__.stdout.log</string>

  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/__TASK_ID__.stderr.log</string>

  <key>WorkingDirectory</key>
  <string>__REPO_ROOT__</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
</dict>
</plist>
